* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
form {
  margin: 10px;
}

form {
  padding: 10px;
}

input[type='text'] {
  margin-bottom: 10px;
}

div.inline-block {
  display: inline-block;
  margin-right: 20px;
}

#output {
  margin-top: 10px;
}

button,
input {
  border-radius: 2px;
  padding: 5px;
}

button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}
